*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    background-color: lightslategray;
}

.ball {
    height: 100px;
    aspect-ratio: 1/1;
    background-color: lightblue;
    border: 1px solid black;
    border-radius: 50%;
}